#product{
        .products-list{
          .searchSort{
            display: flex;
            justify-content: space-around;
            .sortBtn{
                width: 150px;
                height: 50px;
                background-color: #fff;
                border-radius: 25px;
                border: 1px solid #eeeeee;
                transition: all 0.4s;
                font-size: 15px;
                color: #222222;
                font-weight: bold;
                &:hover{
                    border: 1px solid #384aeb;
                    cursor: pointer;
                }
            }
            .search{
                border: none;
                border-bottom: 1px solid #002347;
                width: 20%;
            }
          }
            .card{
                display: flex;
                flex-wrap: wrap;
                column-gap: 50px;
                margin-left: 100px;
                .card-detail{
                    padding: 40px 0;
                    .card-p{
                        font-size: 15px;
                        color: #777777;
                        padding: 10px 0;
                        text-align: center;
                        line-height: 20px;
                    }
                    .card-h5{
                        font-size: 20px;
                        color: #222222;
                        text-align: center;
                        font-family: 'Oswald', sans-serif;
                    }
                    .card-price{
                        font-size: 18px;
                        color: #777777;
                        padding: 10px 0;
                        text-align: center;
                    }
                   .btn{
                    display: flex;
                    justify-content: space-around;

                    .delBtn{
                        // width: 100%;
                        // border: none;
                        background-color: transparent;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        cursor: pointer;
                        i{
                            text-align: center;
                            font-size: 15px;
                            color: #8b0000;
                            cursor: pointer;
                        }
                    }
                    .add{
                         color:red;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
                        i{
                            color: red;
                            font-size: 20px;
                            // text-align: center;
                        }
                    }
                    .not-add{
                          width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
                        i{
                            color: #002347;
                        }
                    }
                   }
                }
            }
        }
}