#header{
    background-color: #fff;
    .container{
        .headers{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            img{
                height: 30px;
            }
            nav{
                ul{
                    display: flex;
                    list-style: none;
                    column-gap: 35px;
                    li{
                        a{
                            text-decoration: none;
                            &.active{
                                color: black;
                            }
                        }
                    }
                }
            }
            .icons{
                display: flex;
                column-gap: 20px;
            }
            .btn{
                button{
                    width: 150px;
                    height: 50px;
                    background-color: #fff;
                    border-radius: 25px;
                    border: 1px solid #eeeeee;
                    transition: all 0.4s;
                    font-size: 15px;
                    color: #222222;
                    font-weight: bold;
                    &:hover{
                        border: 1px solid #384aeb;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}