#footer{
    .footer{
        width: 100%;
        height: 100px;
        background-color: #002347;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-p{
            text-align: center;
            color: #fff;
            i{
                color: red;
            }
            span{
                cursor: pointer;
                color: #384aeb;
            }
        }
    }
}